@font-face {
    font-family: Gothem Rounded;
    src: url('../fonts/GothamRnd-Bold.woff') format('woff'), 
    url('../fonts/GothamRnd-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Gothem Rounded;
    src: url('../fonts/GothamRnd-Light.woff') format('woff'), 
    url('../fonts/GothamRnd-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Gothem Rounded;
    src: url('../fonts/GothamRnd-Book.woff') format('woff'), 
    url('../fonts/GothamRnd-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}